
.image-slider {
    margin: 0 -1.5%;
    position: relative;
    width: 100%; 
    height: 600px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%; 
    height: 100%;
    
  }
  
  .slide img {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #fff;
  }
  /* .containers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2); /* Adjust the transparency as needed 
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Apply the glass morphism effect 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #a83ee5a9;
    color: #fff;
  } */

  /*about section*/
.about {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that float next to each other */
  .column-2 {
    float: right;
    width: 40%;
    padding: 40px;
    padding-left:45px;
    padding-right: 45px;
    min-height: 475px;
    margin:30px;
    margin-right:2%;
    margin-bottom: 70px;
    background-color: #6a1b9a;
    color: #ffffff;
    line-height:2;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #fff;
  }
  .about h1{
    font-family: 'Lora', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
  }
  
  .large-profile {
    float: left;
    background: url('../../pics/bts-about1.jpg');
    background-size: cover;
    background-position: center;
  }
  .grid {
      padding: 60px;
      margin: 0 auto;
      max-width: 1200px;
    cursor: pointer;
    
    
  }
  
  .grid--item {
      position: relative;
      margin-top: -90px;
      margin-right: 5px;
      margin-left: 5px;
      width: calc(33.33% - 10px);
      float: left;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      transition: all 0.5s;
      overflow: hidden;
       -webkit-clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
      
    );
   
    clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
      
      -webkit-shape-outside:   polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
    
      
      &:before {
          display: block;
          padding-top: 112.5%;
          content: '';
      }
      
      &:nth-child(1),
      &:nth-child(2) { margin-top: 0; }
      
      &:nth-child(7n - 1),
      &:nth-child(1) {
          margin-left: 185px;
      }
  }
  

  
.img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	background-position: center center;
	background-size: cover;
	
	overflow: hidden;
	
	-webkit-clip-path: polygon(
			50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
		);
 	
		clip-path: polygon(
			50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
		);
	
	&:before,
	&:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		opacity: 0;
		transition: opacity 0.5s;
	}
	
	&:before {
		background: rgba(purple, 0.25);
	}
	
	&:after {
		background: linear-gradient(to top, transparent, rgba(black, 0.5), transparent);
	}
}

.container { 
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	box-shadow:0 0 0 2px #fff ;
	opacity: 0;
	text-align: center;
	color: white;
	will-change: transform;
	backface-visibility: hidden;
	transform: translate(-50%, -50%) scale(0.9);
	transition: all 0.5s;
	font-size: 15px;
	-webkit-shape-outside:   polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
	
	shape-outside:   polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
}

.members h1, h2 {
	font-family: 'Arapey';
	font-style: italic;
	font-weight: 400;
}

.members h1 {
	font-family: 'Lora', serif;
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-shadow: #9414e4 5px 6px 5px;
}

.members h2 {
	font-size: 32px;
	
	&:before,
	&:after {
		display: inline-block;
		margin: 0 0.5em;
		width: 0.75em;
		height: 0.03em;
		background: #000;
		content: '';
		vertical-align: middle;
		transition: all 0.3s;
	}
}

.desc {
	margin: 1em 0 0;
	font-family: 'ATC Overlook';
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.5;
	color: #fff;
}


.grid--item:hover {

	.img:before,
	.img:after,
	.container { opacity: 1; }
	
	.container { transform: translate(-50%, -50%) scale(1); }
}
/*achivements section*/

.achivements h1{
  font-family: 'Lora', serif;
  font-size: 50px;
  text-align: center;
  margin-top: 1150px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-shadow: #9414e4 5px 6px 5px;
  
}
.achivements ul {
  --col-gap: 2rem;
  --barH: 1rem;
  --roleH: 2rem;
  --flapH: 2rem;

  width: min(70rem, 100%);
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;

  gap: var(--col-gap);
  padding-inline: calc(var(--col-gap) / 2);

  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
.achivements ul li {
  width: 13em;
  display: grid;
  grid-template:
    "role"
    "icon"
    "title"
    "descr";
  align-items: flex-start;
  gap: 1rem;
  padding-block-end: calc(var(--flapH) + 1rem);
  text-align: center;
  background: var(--accent-color);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) var(--roleH),
    rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
    rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem)
  );
  clip-path: polygon(
    calc(var(--col-gap) / -2 - 5px) 0,
    calc(100% + var(--col-gap) / 2 + 5px) 0,
    calc(100% + var(--col-gap) / 2 + 5px ) calc(100% - var(--flapH)),
    50% 100%,
    calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH))
  );
}

/* bar */
.achivements ul li::before {
  content: "";
  grid-area: role;
  height: var(--barH);
  width: calc(100% + var(--col-gap));
  margin-left: calc(var(--col-gap) / -2);
  margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
  background: grey;
  z-index: -1;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.4)
  );
}

/* role */
.achivements ul li::after {
  content: "";
  grid-area: role;
  background: var(--accent-color);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.4)
  );
  height: var(--roleH);
}

.achivements ul li .icon,ul li .title,ul li .descr {
  padding-inline: 1rem;
  color: #fff;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.achivements ul li .icon {
  font-size: 3rem;
}
.title {
  font-size: 1.25rem;
  font-family: 'Roboto Condensed', 'sans-serif';
  
  /* font-weight: 700; */
}

.achivements ul li .descr {
  font-size: 0.9rem;
}

.subtitle {
  font-size: 1 rem;
  font-family: 'Playfair Display', serif; 
  /* margin-block: 2rem; */
  text-align: center;
  text-shadow: 1px 1px 3px #fff;
  color: #000;
}
.year{
  font-size: 0.9 rem;
  font-family:cursive;
  color:#5a4f4f;
}
.many-more{
  float: right;
  margin-right:250px;
  font-size:  20px;
  font-family:cursive;
  color:#ffffff;
  text-align: right
}
/*Albus section */

.albums h1{
  font-family: 'Lora', serif;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: #9414e4 5px 6px 5px;
  
}
.hover_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hover_wrap figure {
  width: calc(25% - 20px);
  cursor: pointer;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 0 0 2px #ba2cd7;
  border-radius: 15px;
}
@media (max-width: 800px) {
  .hover_wrap figure {
    width: calc(50% - 20px); /* 50% for two pictures per line with margin on smaller screens */
  }
}
.hover_wrap figure img {
  width: 100%;
  height:300px;
  cursor: pointer;
  display: block;
  transition: all .3s ease;
  border-radius: 4px;
 
}

.hover_wrap figure figcaption {
  position: absolute;
  left: 50%; top: 50%;
  /*
  left: 0; top: 0; right: 0; bottom: 0;
  margin: auto;
  */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all .3s ease;
  background: #000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.hover_wrap figure figcaption strong {
  color: #fff;
  z-index: 20;
  font-size: 16px;
  text-transform: uppercase;
}

.hover_wrap figure:hover {
  background-color: #a53be7;
}
.hover_wrap figure:hover img {
  opacity: 0.3; 
}

.hover_wrap figure.hover6 figcaption{transform: translate(-250%, -50%) rotate(-360deg)}
.hover_wrap figure:hover figcaption{transform: translate(-50%, -50%)}
/*
.hover_wrap figure.hover5 figcaption{transform: translateX(80%) rotate(360deg)}
.hover_wrap figure.hover6 figcaption{transform: translateX(-80%) rotate(-360deg)}
.hover_wrap figure:hover figcaption{transform: translateX(0)}
*/
@media(max-width:800px) {
  .hover_wrap {
      flex-direction: column;
  }
}

@media (max-width: 1500px) {
    .column-2 {
      float: none;
      width: 80%; /* Adjust width to be centered */
      margin: 20px auto; /* Center the boxes */
    }
  
    .about h1 {
      font-size: 40px; /* Adjust font size for smaller screens */
    }
  }



  @media (max-width: 800px) {
    .grid--item {
    width: calc(50% - 20px);
    clip-path: polygon(
      50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%
    );
  }
  }
  
  @media (max-width: 480px) {
    .grid--item {
      width: calc(100% - 20px);
    }
  
    .members h1 {
      font-size: 40px;
    }
  
    .members h2 {
      font-size: 28px;
    }
  }