/* General styles for the nav bar */
nav {
    background: linear-gradient(to right,#003366,#6a1b9a,#dacfcf);
    padding-left: 15px; 
    display: flex; 
    display: inline-flex;
    justify-content: space-between; 
    align-items: center; 
    width: 99%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 150px; 
    height:70px;
    
  }
  .logo h2{
    font-family: 'Rubik Doodle Triangles', sans-serif;
    color: #ffffff;
  }
  ul {
    list-style-type: none;
    font-family: Codystar, cursive;
    padding: 0;
    display: flex;
    justify-content: centre;
    align-items: center;
    flex-wrap: wrap;
  }
  
  li {
    
     margin: 0 10px;
  }
  
  .hover{
    justify-content: center;
    text-align: center;
    margin-left: 5%; 
  }

  .hover-2 {
    --b: 0.15em;   
    --c: #1f1b23; 
    cursor:pointer;
    
    color: #fff;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#7f7878 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover-2:hover {
    cursor:pointer;
    --_p: 100%;
    --_s: .3s;
    color: #000;
   
  }
  
  .chat-bar{
    float: right;
    font-family: 'Arapey';
    font-size: 20px;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
  }
  .chat-bar:hover{
    color: #000000;
  }

  