:root {
	--duration: 15s;
}
$primary-color: #fff;
$border-radius: 5px;
$black-color: #351897;

.movies {
	
	background: #131520;
	overflow: hidden;
	margin-top: 10%;
	overflow-x: hidden;
	
}
.movie{
	margin-top: 40px;
}
.hero-movies{
	margin-left: 4%;
}
.hero-movies img{	
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 0 2px #fff;
}
.wrapper-images {
	display: flex;
	flex-direction: column;
	height: 150vh;
	justify-content: center;
	left: 21%;
	position: absolute;
	opacity: 0.8;
	max-width: 700px;
	transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(10deg)
		rotateX(-10deg);
		
}
.images-line {
	animation: runner var(--duration) linear infinite;
	display: flex;
	transform: translateX(23%);
	&:nth-child(even) {
		animation-duration: calc(var(--duration) * 1.5);
	}
	.line {
		background-position: 50% 50%;
		background-size: cover;
		flex: none;
		height: 29vh;
		margin: clamp(10px, 2vw, 20px);
		width: 20vh;
		position: relative;
		transition: ease-in-out all 0.3s;
		border-radius: 1rem;
		.img {
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-position: 50% 50%;
			background-size: cover;
			transition: ease-in-out all 0.3s;
			overflow: hidden;
			border-radius: 1rem;
		}
		&:hover {
			.img {
				cursor: pointer;
				transform: scale(1.1) translatez(0px);
			}
			&:after {
				filter: blur(35px) opacity(0.8);
			}
		}
		&:after {
			content: "";
			background: inherit;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 3vh;
			position: absolute;
			background-size: cover;
			z-index: -1;
			transition: ease-in-out all 0.3s;
			filter: blur(25px) opacity(0.8);
		}
	}
}
.gal-title{
	font-size: 3em;
	margin-top: 10%;
	font-weight: 700;
	color: transparent; /* Set the text color to transparent */
	background: linear-gradient(#6c97c3,#6a1b9a,#dacfcf); /* Apply the gradient as the background */
	background-clip: text;
	-webkit-background-clip: text; /* Clip the background to the text */
	justify-content: center;
	align-items: center;
	text-align: center;
 }

@keyframes runner {
	to {
		transform: translateX(-10.4%);
	}
}

/*Dev*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
.dev {
	font-family: "Poppins", sans-serif;
	position: fixed;
	font-size: clamp(8px, 3vw, 14px);
	bottom: 1vw;
	left: 1vw;
	padding: 1em;
	color: #111;
	background-color: white;
	border-radius: 25px;
	cursor: pointer;
	z-index: 100;
	a {
		text-decoration: none;
		font-weight: bold;
		color: #111;
		transition: ease all 0.3s;
		&:hover {
			color: #ef5350;
			text-decoration: underline;
		}
	}
	span {
		display: inline-block;
		transition: ease all 0.3s;
		color: #ef5350;
		&:hover {
			transform: scale(1.2);
		}
	}
}

/* run bts*/
.run-title{
	font-size: 3em;
	margin-top: 2%;
	font-weight: 700;
	color: transparent; /* Set the text color to transparent */
	background: linear-gradient(#6c97c3,#6a1b9a,#dacfcf); /* Apply the gradient as the background */
	background-clip: text;
	-webkit-background-clip: text; /* Clip the background to the text */
	justify-content: center;
	align-items: center;
	text-align: center;
}
.run-bts {
 margin-top: 1%;
 font-family: Arial, Helvetica, sans-serif;
 display: grid;
 place-items: center;
 min-height: 100vh;
}

.container-bts {
background: linear-gradient(#6c97c3,#6a1b9a);
 margin-top: 5%;
 position: relative;
 display: grid;
 grid-template-columns: 300px 600px;
 border-radius: $border-radius;
 box-shadow: 0 5px 10px rgb(244, 241, 241);
 .image-runbts {
  width: 300px;
  height: 300px;
  border-radius: $border-radius 0 0 $border-radius;
 }
 .btn-bts {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #6a1b9a;
  color: $primary-color;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: $border-radius;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(229, 217, 239, 0.897);
  i {
   margin-left: 20px;
   font-size: 1.5rem;
  }
 }
}
.btn-bts:hover{
    background-color: #b17dd1;
	box-shadow: 0 5px 5px rgba(229, 217, 239, 0.897);
}
.container__text {
 padding: 40px 40px 0;
 h1 {
  color: #6addec;
  font-weight: 400;
 }
 .container__text__star span {
  font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
 }
 p {
  font-size: 1rem;
  color: #fff;
 }
 .container__text__timing {
  display: flex;
  margin: 20px 0 10px;
  .container__text__timing_time {
   margin-right: 40px;
  }
  h2 {
   margin-bottom: 5px;
   font-size: 1rem;
   font-weight: 400;
   color: #96e4e7;
  }
  p {
   color: #fff;
   font-weight: bold;
   font-size: 1.2rem;
  }
 }
}
.season-selector {
	display: flex;
	// margin-left: 35%;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  
  .season-selector button {
	background-color: #f0f0f0;
	border: none;
	padding: 8px 16px;
	margin-right: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  
	&:hover {
	  background-color: #e0e0e0;
	}
  
	&.active {
	  background-color: #007bff;
	  color: #fff;
	}
  
	&:focus {
	  outline: none; // Remove default focus outline
	}
  }
  

  
  
  