@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
.player_container
{
    width: 70%;
    padding: 1rem;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // background-color: black;
    background: linear-gradient(to right,#6a1b9a,#003366);

    >*
    {
        padding: 1rem 0;
        color: rgb(202, 202, 202);
    }

    .title{
        font-size: 2rem;
        font-family: 'Lobster Two', cursive;
        .song-info {
            display: flex;
            align-items: center;
      
            .albumcover {
              width: 80px; // Adjust the size as needed
              height: 80px; // Adjust the size as needed
              border-radius: 50%;
              margin-right: 10px; 
              border: #0a0a0a 2px solid;
            //   transition: transform 0.3s ease; // Add a smooth transition for the rotation
      
              &.rotate {
                animation: mymove 3s linear infinite; 
              }
              @keyframes mymove {
                100% {transform: rotate(360deg);}
              }
            }
      
            p {
              margin: 0;
            }
          }
        }
    
    .navigation{
        width: 100%;


        .navigation_wrapper
        {
            min-width: 100%;
            background-color: rgba(119, 119, 119, 0.781);
            height: 5px;
            border-radius: 30px;
            cursor: pointer;
            
            .seek_bar{
                width: 0;
                height: 100%;
                background-color: rgb(24, 128, 3);
                border-radius: 30px;
            }

        }
    }
    .controls{
        font-size: inherit;
        display: flex;
        align-items: center;

        .btn_action
        {
            font-size: 2rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover{
            color: white;
        }

        }
        
        .pp
        {
            font-size: 4rem;
            
        }
        
    }
}